.main{
  border: 1px solid grey;
  height: 100vh;
  margin: 10px 0px;
  padding: 25px;
}


.added-List{
  background-color: #CAE4BA;
  height: 40%;
  overflow-x: auto;
}
.todo-List{
  background-color: #D9D9D9;
  padding: 10px;
  height:300px;
}
.todo-List .todo-Items {
  background-color: #FFF;
  padding: 10px;
  margin: 10px 0px;
}
.card{
  width: 150px !important;
  margin: 10px !important;
}